@import "variables";

.section-1 {
  width: 100%;
  background: url(https://static.ladipage.net/s1440x950/uploads/images/ef320418-ea3a-4379-bfa2-284fbdb05a21.jpg)rgba(133, 76, 76, 0.38);
  background-size: 100%;
  background-blend-mode: multiply;
  padding-bottom: 40px;

  .header-element {
    width: 1560px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.44);

    @include mobile {
      width: unset;
    }

    .wrapper {
      width: 960px;
      margin-left: auto;
      margin-right: auto;
      flex-flow: row wrap;
      justify-content: space-between;
      display: flex;

      @include mobile {
        width: unset;
      }

      .logo {
        align-self: center;

        img {
          height: 110px;
        }
      }

      .infomation {
        display: flex;
        align-self: center;
        color: white;

        @include mobile {
          flex-direction: column;

          #phone-number {
            margin-right: 0;
          }
        }

        #phone-number {
          margin-right: 30px;
        }
      }
    }
  }

  .intro {
    width: 960px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    color: white;
    margin-left: auto;
    margin-right: auto;

    @include mobile {
      width: unset;
    }

    .intro-1 {
      font-size: 64px;

      @include mobile {
        font-size: 24px;
      }

      p {
        margin-bottom: 0;
        margin-top: 30px;
      }
    }

    .intro-2 {
      width: 600px;
      font-size: 16px;

      @include mobile {
        width: unset;
      }
    }

    .intro-3 {
      padding: 10px 20px;
      background-color: rgba(255, 78, 3, 1);
      border-radius: 25px;

      a {
        text-decoration: unset;
        color: white;
        font-weight: 700;
      }

    }
  }
}

.section-2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #fafafa;
  padding-bottom: 40px;

  @include mobile {
    width: unset;

  }

  .item-1 {
    width: 800px;
    font-size: 32px;

    @include mobile {
      width: unset;
      font-size: 18px;
    }

    p {
      margin: 20px 0;
      font-weight: 700;
      line-height: 38px;

    }
  }

  .item-2 {
    width: 680px;
    font-size: 15px;
    color: rgba(197, 17, 98, 1);

    @include mobile {
      width: unset;
    }

    p {
      margin-top: 0;
      font-weight: 400;
      font-style: italic;
      line-height: 20px;
    }
  }

  .item-3 {
    width: 960px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

    @include mobile {
      width: 100%;
      flex-direction: column;
    }

    .info {
      width: 460px;
      display: flex;
      flex-direction: column;
      color: rgba(0, 0, 0, 1);
      border-radius: 15px;
      border-width: 3px solid rgba(255, 255, 255, 1);
      background-color: rgba(255, 255, 255, 1);
      box-shadow: 0px 14px 19px rgba(156, 156, 156, 0.24);

      @include mobile {
        width: 100%;

      }


      .circle {
        width: 120px;
        height: 120px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        // flex-direction: column;
        border-radius: 50%;
        border: 3px solid rgba(232, 46, 129, 1);
        background-color: rgba(240, 240, 240, 1);
        margin-top: 10px;
      }

      .text-1 {
        color: rgba(232, 46, 129, 1);
        font-weight: 400;
        line-height: 27px;
        font-size: 21px;

        p {
          margin: 10px 0;
        }
      }

      .text-2 {
        color: rgba(69, 69, 69, 1);
        font-weight: 400;
        line-height: 20px;
        font-size: 14px;

        p {
          margin: 0 0 10px 0;
        }
      }

    }

    .youtube-info {
      width: 458px;
      border: 1px dashed black;

      @include mobile {
        width: 100%;
        border: none;
      }

      iframe {
        width: 100%;
        height: 100%;

        @include mobile {
          width: 100%;
          border: none;
        }
      }
    }
  }

  .item-4 {
    color: rgba(0, 27, 166, 1);
    font-weight: 600;
    line-height: 36px;
    font-size: 30px;

    @include mobile {
      font-size: 18px;

      p {
        margin-bottom: 0;
      }
    }
  }

  .item-5 {
    width: 960px;
    display: flex;
    justify-content: space-between;

    @include mobile {
      width: 100%;
      flex-direction: column;
    }

    .facebook-ads,
    .google-ads {
      width: 390px;
      text-align: left;

      @include mobile {
        width: 100%;

        ul {
          padding-inline-start: 15px;
        }
      }

      li {
        padding-left: 20px;

        @include mobile {
          padding-left: 0;
        }

        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        color: rgba(0, 27, 166, 1);
        margin-bottom: 10px;
      }

      p {
        font-size: 16px;
        color: rgb(107, 107, 107);
      }

      h2 {
        text-align: center;
      }
    }
  }
}

.section-3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(245, 245, 245);
  padding-bottom: 40px;

  .header {
    width: 960px;

    @include mobile {
      width: 100%;
    }

    h1 {
      float: right;
      text-align: left;
      width: 400px;
      font-size: 24px;
      color: rgba(76, 175, 80, 1);

      @include mobile {
        width: 100%;
        float: unset;
        font-size: 20px;
        text-align: center;
      }
    }
  }

  .container {
    width: 960px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;

    @include mobile {
      width: 100%;
      flex-direction: column;
    }

    .divided {
      width: 430px;

      @include mobile {
        width: 100%;
        margin-top: 10px;
      }

      img {
        width: 100%;
      }

      p {
        margin: 0px;
        line-height: 25px;
      }
    }
  }

  .line {
    border-bottom: 1px solid black;
  }

}

.linevertical {
  border-left: 4px dotted red;

  @include mobile {
    display: none;
  }
}

.section-4 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #fafafa;
  padding-bottom: 40px;

  .line-dot {
    border-bottom: 2px dotted red;
    width: 400px;
    margin-bottom: 20px;

    @include mobile {
      width: 100%;
    }
  }

  h1 {
    margin: 15px 0;
    margin-bottom: 5px;

    @include mobile {
      width: 100%;
      font-size: 18px;
      margin-top: 0;
    }

  }

  .line {
    border-bottom: 1px solid black;
  }

  .container {
    width: 960px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;

    @include mobile {
      width: 100%;
      flex-direction: column;
    }

    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 23%;

      @include mobile {
        width: 100%;
        margin-bottom: 10px;

        h2 {
          margin: 10px 0;
        }

        p {
          margin-top: 0;
        }
      }

      svg {
        width: 75px;
        height: 75px;
      }
    }
  }
}

.section-5 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgb(245, 245, 245);
  padding-bottom: 40px;

  >h1 {
    color: #4caf50;
    margin-bottom: 0;
    font-weight: 700;
    line-height: 34px;
    font-size: 30px;

    @include mobile {
      width: 100%;
      font-size: 24px;
    }
  }

  .list-container {
    width: 960px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include mobile {
      width: 100%;
      flex-direction: column;
    }

    .container {
      width: 48%;
      display: flex;
      margin-top: 30px;
      justify-content: space-between;
      text-align: left;

      @include mobile {
        width: 100%;
        flex-direction: column;
        align-items: center;
      }

      img {
        height: 150px;
        border-radius: 50%;
      }

      div {
        width: 300px;

        @include mobile {
          width: 80%;
          border: none;
        }

        h1 {
          margin: 10px 0;
        }

        p {
          font-size: 17px;
          font-weight: 400;
          line-height: 23px;
          margin: 0;

          @include mobile {
            width: 100%;
            border: none;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}

.section-6 {
  width: 100%;
  background-color: #fafafa;
  padding-bottom: 40px;

  .container {
    width: 960px;
    margin: 0 auto;

    @include mobile {
      width: 100%;
    }

    img {
      width: 100%;
    }

    img:last-child {
      margin-top: 20px;

      @include mobile {
        width: 100%;
        margin-top: 10px;
      }
    }
  }
}

.section-7 {
  width: 100%;
  background-image: url(https://static.ladipage.net/s1440x750/uploads/images/2c32bfc1-89a1-48cf-a679-4caf91646516.jpg);
  background-size: cover;
  background-blend-mode: multiply;

  .container {
    width: 960px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

    @include mobile {
      width: 100%;
      flex-direction: column;
    }

    div:first-child {
      text-align: center;

      @include mobile {
        width: 100%;
      }

      img {
        width: 455px;
        height: 394px;

        @include mobile {
          width: 100%;
        }
      }

      h2 {
        margin: 10px 0;

        @include mobile {
          font-size: 20px;
        }
      }

      .line {
        width: 347px;
        height: 3px;

        @include mobile {
          width: 80%;
        }

        background-color: rgba(255, 168, 0, 1);
        margin: 0 auto;
        margin-bottom: 30px;

      }
    }

    div:last-child {
      width: 460px;

      @include mobile {
        width: 100%;
        border: none;
      }

      p {
        width: 400px;



        margin: 10px auto;
        font-weight: 700;
        line-height: 19px;
        font-size: 14px;
        height: 30px;

        @include mobile {
          width: 95%;
          height: 40px;
        }

        background-color: rgb(76, 175, 80);
        color: white;
        border-radius: 5px;
        border: 1px solid black;
        padding: 8px;

      }

      p:first-child {
        margin-top: 50px;
      }
    }

  }
}

.section-8 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #fafafa;
  padding-bottom: 40px;

  h1 {
    margin: 10px auto;
    font-weight: 700;
  }

  p {
    margin: 10px auto;
    margin-top: 0;
    font-weight: 400;
    font-style: italic;
  }

  .header {
    width: 721px;
    height: 208px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 214, 0, 1);
    font-family: 'Open Sans', sans-serif;

    @include mobile {
      width: 100%;
      height: 200px;
    }


    .content {
      height: 171px;
      width: 693px;
      border: 2px solid white;

      @include mobile {
        width: 98%;
        height: 80%;
        border: 4px solid white;
      }

      h3 {
        font-size: 17px;
        font-weight: 700px;
        margin: 10px auto;

        @include mobile {
          font-size: 16px;
        }
      }

      .line {
        width: 500px;

        @include mobile {
          width: 80%;
        }

        border-top: 1px solid white;
        margin: 10px auto;
      }

      .ul {
        width: 400px;
        font-size: 14px;
        line-height: 17px;
        font-weight: 400;
        margin: 0 auto;
        text-align: left;

        p {
          margin: 5px;

          @include mobile {
            margin: 0;
          }
        }

        @include mobile {
          width: 100% !important;
          font-size: 11px;
          padding-inline-start: 0;
          margin: 0;
          margin-left: 15px;
        }

      }
    }
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 960px;
    margin-bottom: 15px;

    @include mobile {
      width: 100%;
      flex-direction: column;
      flex-wrap: unset;
    }

    div {
      margin-top: 15px;
      width: 460px;
      height: 226px;

      @include mobile {
        width: 100%;
      }

      &:first-child,
      &:last-child {
        background-color: rgba(227, 227, 227, 1);
        color: black;

        ul {
          color: rgba(122, 122, 122, 1);
        }
      }

      &:nth-child(2) {
        background-color: rgba(0, 150, 136, 1);
        color: white;
      }

      &:nth-child(3) {
        background-color: rgba(0, 99, 163, 1);
        color: white;
      }

      .hole {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: white;
        float: right;
        margin: 15px;

        @include mobile {
          display: none;
          width: 0;
          height: 0;
        }
      }

      h1 {
        font-size: 56px;
        font-weight: 700;
        text-align: center;
        padding-left: 50px;
        margin-bottom: 0;

        @include mobile {
          width: 100%;
          margin-top: 20px;
          padding-left: 0;

        }
      }

      p {
        font-size: 18px;
        margin-top: 0;
        font-style: normal;
      }

      ul {
        text-align: left;
        list-style-type: none;
        width: 400px;

        @include mobile {
          width: 100%;
          padding-inline-start: 0;
        }
      }
    }
  }

  .title {
    width: 600px;

    @include mobile {
      width: 100%;
    }

    h1 {
      font-size: 30px;
      font-weight: 700;
      color: rgba(61, 61, 61, 1);

      @include mobile {
        width: 100%;
        font-size: 20px;
      }
    }

    p {
      font-weight: 400;
      font-size: 14px;
      font-style: italic;
    }
  }

  .register-steps {
    display: flex;
    justify-content: center;
    align-items: center;

    @include mobile {
      width: 100%;
      flex-direction: column;
    }

    >svg {
      width: 83px;
      height: 83px;
      margin: 0 auto;

      @include mobile {
        display: none;
        width: 0;
        height: 0;
      }
    }

    div {
      width: 173px;
      text-align: center;

      @include mobile {
        width: 100%;

        h1 {
          margin-bottom: 0;
        }
      }

      svg {
        width: 59px;
        height: 39px;
      }
    }
  }
}

.section-9 {
  display: flex;
  flex-direction: column;
  align-items: center;

  .line {
    width: 980px;
    border-top: 1px solid black;
    margin: 15px 0;
    margin-bottom: 25px;

    @include mobile {
      width: 100%;
    }
  }

  >.container {
    width: 960px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;

    @include mobile {
      width: 100%;
      flex-direction: column;
    }

    .item-1 {
      width: 416px;
      height: 600px;

      @include mobile {
        width: 100%;
        height: 400px;
      }
    }

    .item-2 {
      width: 473px;
      text-align: left;
      margin-top: 50px;

      @include mobile {
        width: 100%;
        margin-top: 0;

        h1 {
          font-size: 28px;
        }

        h2 {
          margin-bottom: 0;
          font-size: 18px;
        }

        h3 {
          margin-bottom: 0;
        }

        p {
          margin-top: 5px;
        }

        input {
          width: 99% !important;
          float: unset !important;
          margin-top: 10px !important;
          border: 1px solid;
        }
      }

      #name {
        width: 220px;
        height: 26px;
        padding: 3px;

      }

      #phoneNumber {
        width: 220px;
        height: 26px;
        padding: 3px;
        float: right;
      }

      #email {
        height: 26px;
        width: calc(100% - 10px);
        padding: 3px;
        margin-top: 20px;
      }

      div {
        display: flex;

        #send {
          background-color: #fe3f51;
          height: 36px;
          padding: 10px 30px;
          color: white;
          margin: 20px auto;
        }
      }

    }

    .item-3 {
      flex-basis: 48%;

      @include mobile {
        width: 100%;
      }

      .item-line {
        width: 70%;
        border-bottom: 2px solid orange;
        margin: 10px auto;
      }
    }

    .item-4 {
      flex-basis: 48%;

      @include mobile {
        width: 100%;
      }

      .item-line {
        width: 70%;
        border-bottom: 2px solid orange;
        margin: 10px auto;
        margin-top: 50px;
      }

      .list-img {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @include mobile {
          width: 100%;
          flex-direction: column;
        }

        img {
          width: 48%;
          height: 133px;

          @include mobile {
            width: 100%;
            height: 230px;
          }

          margin-bottom: 20px;
        }
      }
    }
  }

  .container:last-child {
    margin-top: 0;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  background-image: url(https://static.ladipage.net/s1440x600/57b167c9ca57d39c18a1c57c/footer-star-2.png);
  background-size: cover;
  background-color: rgba(35, 40, 69, 1);

  p {
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: white;

    @include mobile {
      font-size: 12px;
      text-align: center;
    }
  }

  .line {
    width: 960px;
    border-top: 1px solid white;

    @include mobile {
      width: 100%;
    }
  }

  >div {
    width: 960px;

    @include mobile {
      width: 100%;
    }
  }

  .container {
    width: 960px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;

    @include mobile {
      width: 100%;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
    }

    >div {
      width: 36%;
      display: flex;
      flex-direction: column;

      @include mobile {
        width: 80% !important;
        align-items: center;
      }

      img {
        width: 35%;

        @include mobile {
          width: 50%;
        }
      }

      h1 {
        font-size: 21px;
        color: orange;
        margin-top: 30px;

        @include mobile {
          margin-bottom: 0;
        }
      }

      .contact {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 20px;

        svg {
          width: 26px;
          height: 26px;
          margin-bottom: 5px;
        }

        p {
          width: 88%;
          margin-top: 2px;
          margin-bottom: 0;
          text-align: left;
        }
      }
    }

    >div:first-child {
      width: 26%;
      display: flex;
      flex-direction: column;
    }

    >div:last-child {
      width: 28%;
      display: flex;
      flex-direction: column;
    }
  }
}
