<div id="header" class="section-1">
  <div id="firstElement" class="header-element">
    <div class="wrapper">
      <div id="logo" class="logo">
        <img src="https://static.ladipage.net/5b90d016a21110493d6f2fa5/philong-ads-1555474695.png">
      </div>
      <div class="infomation">
        <div id="phone-number">
          <p>0981510880</p>
        </div>
        <div id="time-number">
          <p>T2-T7 08:00-21:00</p>
        </div>
      </div>
    </div>
  </div>
  <div class="intro">
    <div class="intro-1">
      <p>
        - PHILONG ADS -
        <br>
        GIẢI PHÁP MARKETING
        <br>
        BẤT ĐỘNG SẢN TOÀN DIỆN
      </p>
    </div>
    <div class="intro-2">
      <p>
        💥💥LÀM SAO ĐỂ BỨT PHÁ TRỞ THÀNH BEST SELLER BẤT ĐỘNG SẢN?💥💥
        <br>
        💢 ️💢️ 𝐏𝐇𝐈𝐋𝐎𝐍𝐆 𝐀𝐃𝐒 - GIẢI PHÁP TÌM KIẾM KHÁCH HÀNG CHO SALE BẤT ĐỘNG SẢN️ 💢️💢
        <br>
        ️📌📌📌 Với bề dày kinh nghiệm nhiều năm tìm kiếm khách hàng trong ngành BĐS, chúng tôi có thể giúp bạn tìm kiếm
        khách hàng nhanh chóng và hiệu quả nhất thông qua các kênh Marketing online HOT nhất hiện nay với #chi #phí #tối
        #ưu #chỉ #từ
        <br>
        250,000 vnđ/tháng
      </p>
    </div>
    <div class="intro-3">
      <a href="javascript:;">Đặt mua ngay</a>
    </div>
  </div>

</div>

<div class="section-2">
  <div class="item-1">
    <p>PHILONG ADS - ĐƠN VỊ MARKETING ONLINE CHUYÊN VỀ BẤT ĐỘNG SẢN</p>
  </div>
  <div class="item-2">
    <p>"Nếu bạn đang gặp phải tình trạng “Data không chất lượng”; “Giá data quá mắc”, “không biết cách target sao cho
      chính xác”… khi chạy quảng cáo Bất Động Sản ... CHÚNG TÔI Ở ĐÂY ĐỂ HỖ TRỢ BẠN"</p>
  </div>
  <div class="item-3">
    <div class="info">
      <div class="circle">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="62px" height="62px"
          viewBox="0 0 32 32" fill="rgba(232,46,129,1)">
          <path
            d="M7 5v23l1.594-1.188L16 21.25l7.406 5.563L25 28V5H7zm2 2h14v17l-6.406-4.813L16 18.75l-.594.438L9 24V7z">
          </path>
        </svg>
      </div>
      <div class="text-1">
        <p> Đăng tin trên sàn TMĐT Bất động sản 𝑷𝒉𝒊𝒍𝒐𝒏𝒈𝒅𝒄.𝒄𝒐𝒎 </p>
      </div>
      <div class="text-2">
        <p>
          Bài viết chuẩn SEO – thông tin hấp dẫn!!!
          <br>
          Vị trí hiển thị tin đăng tốt nhất!!!
          <br>
          Hỗ trợ treo banner quảng cáo tại các vị trí hot nhất!!!
          <br>
          Hỗ trợ tư vấn bán hàng!!!
        </p>
      </div>
    </div>
    <div class="youtube-info">
      <iframe src="https://www.youtube.com/embed/qLhgEZdnYqk" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
  <div class="item-4">
    <p>
      VỚI CÁC KÊNH TRUYỀN THÔNG TỐI ƯU
    </p>
  </div>
  <div class="item-5">
    <div class="facebook-ads">
      <h2>Quảng cáo 𝑭𝒂𝒄𝒆𝒃𝒐𝒐𝒌 𝑨𝒅𝒔</h2>
      <ul>
        <li>
          <p>Target đến đúng ĐỐI TƯỢNG KHÁCH HÀNG !!!</p>
        </li>
        <li>
          <p>Tối ưu mọi CHI PHÍ !!!</p>
        </li>
        <li>
          <p>DATA KHÁCH HÀNG luôn đầy ắp !!!</p>
        </li>
        <li>
          <p>Hỗ trợ tạo fanpage , nội dung, hình ảnh hấp dẫn</p>
        </li>
      </ul>
    </div>
    <div class="linevertical"></div>
    <div class="google-ads">
      <h2>Quảng cáo 𝑮𝒐𝒐𝒈𝒍𝒆 𝑨𝒅𝒔</h2>
      <ul>
        <li>
          <p>Chạy quảng cáo đến đúng đối tượng khách hàng !!!</p>
        </li>
        <li>
          <p>Tối ưu chiến dịch , tiết kiệm tối đa chi phí !!!</p>
        </li>
        <li>
          <p>Công nghệ cao - Xua tan nỗi lo CLICK ẢO !!!</p>
        </li>
        <li>
          <p>Khách nét chốt ngay !!!</p>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="section-3">
  <div class="header">
    <h1>💢MARKETING NGÀNH BĐS THỜI 4.0 CÓ CẦN THIẾT KHÔNG?</h1>
  </div>

  <div class="container">
    <div class="divided">
      <img src="https://static.ladipage.net/s650x500/5b90d016a21110493d6f2fa5/pl-banner-02a-1555407355.jpg" alt="">
    </div>
    <div class="linevertical"></div>
    <div class="divided">
      <p>
        Nếu ngày xưa kênh truyền thống (phát tờ rơi, tờ phướn, banner, poster,..) là "thỏi nam châm" mạnh nhất của giới
        kinh doanh BĐS thì bây giờ Marketing Online là chiếc máy "SỜ VÍ KHÁCH HÀNG" không thể bỏ qua.
        <br>
        🚫 Đừng tự “chôn vùi” việc kinh doanh của mình khi không ứng dụng Marketing trong thời đại Digital này. Hãy để
        chúng tôi hỗ trợ bạn A-Z từ việc:
        <br>
        • Lên chiến lược Marketing BĐS dài hạn cho bạn
        <br>
        • Triển khai toàn bộ các hoạt động Marketing BĐS
        <br>
        • Đo lường và tối ưu nhất chi phí Marketing
        <br>
        Chúng tôi tự hào là Agency chuyên cung cấp GIẢI PHÁP MARKETING TỔNG THỂ cho các nhà kinh doanh BĐS và các sàn
        BĐS nổi tiếng nhất tại Việt Nam. Để tìm hiểu thông tin chi tiết, vui lòng Inbox/Comment bên dưới để PHILONG ADS
        giải đáp.
      </p>
    </div>
  </div>
  <div class="container">
    <div class="divided">
      <p>
        Nếu ngày xưa kênh truyền thống (phát tờ rơi, tờ phướn, banner, poster,..) là "thỏi nam châm" mạnh nhất của giới
        kinh doanh BĐS thì bây giờ Marketing Online là chiếc máy "SỜ VÍ KHÁCH HÀNG" không thể bỏ qua.
        <br>
        🚫 Đừng tự “chôn vùi” việc kinh doanh của mình khi không ứng dụng Marketing trong thời đại Digital này. Hãy để
        chúng tôi hỗ trợ bạn A-Z từ việc:
        <br>
        • Lên chiến lược Marketing BĐS dài hạn cho bạn
        <br>
        • Triển khai toàn bộ các hoạt động Marketing BĐS
        <br>
        • Đo lường và tối ưu nhất chi phí Marketing
        <br>
        Chúng tôi tự hào là Agency chuyên cung cấp GIẢI PHÁP MARKETING TỔNG THỂ cho các nhà kinh doanh BĐS và các sàn
        BĐS nổi tiếng nhất tại Việt Nam. Để tìm hiểu thông tin chi tiết, vui lòng Inbox/Comment bên dưới để PHILONG ADS
        giải đáp.
      </p>
    </div>
    <div class="linevertical"></div>
    <div class="divided">
      <iframe width="100%" height="100%" src="https://www.youtube.com/embed/qLhgEZdnYqk" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
  <div class="line container"></div>
</div>

<div class="section-4">
  <h1>NHỮNG AI NÊN SỬ DỤNG DỊCH VỤ NÀY</h1>
  <div class="line-dot"></div>
  <div class="container">
    <div class="item">
      <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 300 300" fill="rgba(76,175,80,1)">
        <path
          d="M256.1,151.7c-1.4-2.2-4.4-4.2-6.1-6.4c-1.1-0.5-0.8-1.3-2-1.8c0-0.8-1.8-1.3-1.8-2.1c-0.9-0.6-0.8-1.3-2-1.8c-3.2-3.6-5.6-5.6-9.5-9.2c-1.3-0.7-1.2-1.6-2.5-2.2c-1.2-0.7-1.2-1.6-2.5-2.2c-0.3-0.2-0.5-0.4-0.8-0.6c-0.7-0.8-1.9-1.6-2.3-2.5c-0.9-0.3-0.4-0.9-1.2-1.2c-0.7-0.4-0.2-0.9-1.2-1.2c-0.4-0.3-0.7-0.5-1.1-0.8c-1-1.3-2.4-3.7-3.6-4.2c0.2-0.4-0.5-0.7-0.9-1.1c0.3-1.3-1.7-2.1-2.2-3.2c0.5-0.7-0.5-1.2-1.3-1.7c0.2-0.3,0.4-0.5,0.6-0.8c-0.3,0-0.6,0-1-0.3c0-0.3,0-0.6,0.3-1c-0.1-0.1-0.2-0.1-0.3-0.2c-1.3-0.5-1.5-2.4-2.6-1.5c-1.1,0.4-2.9,0-3,2c-0.4,0.5-0.9,1.7-0.5,2.5c0.1,0.1,0.2,0.1,0.3,0.2c-0.6,0.1-0.4,0.4-0.6,0.8c-0.4,2.5-1.4,5.2-1.8,7.8c-0.1,0.5-1.3,1.2-0.7,1.6c-1,3.3-2.9,5.4-4.4,7.9c-0.2,0.2-0.1,0.3,0.1,0.5c-0.7,0.6-1.5,0.5-2.3,0.9c-0.3,0.8-0.5,1.5-1.3,2.4c-0.4-0.4-0.7-0.1-1-0.3c-2.9-0.9-5.6-1.1-8.5-1.9c-0.4-0.3-0.7-0.6-1-0.3c-2-0.5-4-1.2-6-1.4c-1.4-0.5-2.7-0.9-4.1-1.2c-2.3-0.9-4.5-1-6.8-2c-0.4,0.1-0.9-0.4-1.2,0c-0.8-0.7-1.3-0.4-2-0.6c-0.6-0.5-1.2-0.7-1.8-0.4c-2.1-0.6-4.2-1.2-6.3-1.6c-0.7-0.4-1.4-0.5-2-0.6c-0.6-0.3-1.1,0.1-1.8-0.4c-0.9-0.1-1.9-0.6-2.8-0.7c-0.3,0-0.6,0-1-0.3c-0.7,0.1-1.6-0.8-2.2-0.3c-1-0.4-1.8-0.4-2.8-0.7c-0.5,0.4-1.3-0.9-1.8-0.4c-0.2-0.1-0.4-0.3-0.5-0.4c-1,0-2-0.5-3-0.5c-0.1-0.1-0.2-0.1-0.3-0.2c-0.5-0.3-0.8-0.3-1.2,0c-0.9-0.1-1.9-0.8-2.8-0.7c-0.9-0.3-1.9-0.8-2.8-0.7c-5-1.5-9.8-2.3-14.9-4c-0.5-0.1-1-0.1-1.5-0.2c-4-0.7-8.2-1.9-12.3-3c-0.2-0.2-0.3-0.1-0.5,0.1c-1.1-0.6-2-0.4-3-0.9c-0.5-0.3-1-0.5-1.5-0.2c-3.3-1.1-6.6-1.9-9.9-2.9c-0.3-0.3-0.5-0.3-0.7-0.1c-2.1-0.9-4-1.1-6.1-1.9c-0.2-0.2-0.3-0.1-0.5,0.1c-2.2-1-4.2-1.2-6.4-2.1c-0.2-0.2-0.3-0.1-0.5,0.1c-0.6-0.5-1.1-0.1-1.8-0.9c-0.3-0.2-0.5,0.2-0.7,0.4c-15.9-5.2-31.5-8.9-47.7-12.1c-0.4-0.5-0.3-1.1-1-1.5c-0.1-0.1-0.2-0.1-0.3-0.2c0.5-0.5,0-0.8-0.4-1.1c-0.2,0.3,0.2,0.4,0.4,0.7c-0.7,0.3-1.6-1.5-2.3-2c-1-0.5-1.8-0.3-2.6,0.2c-1,0.1-1.3,2.1-1.7,2.9c-0.6-0.2-0.6,0.5-0.1,0.7c-0.9,0.9-1,1.6-0.3,2.2c-0.2,0.2-0.1,0.3,0.1,0.5c0.5,1.4,0.8,2.7,0.7,4.2c-0.1,0.1-0.1,0.2-0.2,0.3C18.6,96,18.3,97,19,97.7c-1.4,2.3,0.1,3.6-2,5.1c-1.1,0.4-0.3,2.3-1.7,2.9c-0.6-0.1-0.4,0.5-0.6,0.8c0.1,0.6-0.7,1.8-0.9,0.6c-0.4,0.5-0.1,0.8-0.5,1.3c-0.4,0-0.8-0.1-1.3-0.5c-0.3,0.8-0.5,1.5-1.3,2.4c-0.4,0.8-0.5,1.5-0.3,2.2c0.1,0.1,0.2,0.1,0.3,0.2c-0.3,0.4-0.5,0.7-0.8,1.1c0.8,0.6,0.7,2.6,1.1,2.5c0.8,1.2,1.3,2.2,3.1,2.6c0.5,0.3,1.5,0.2,0.9,1.1c0.3,0.2,0.5-0.2,0.7-0.3c0.3,0.3,0.1,0.8,0.4,1.1c-0.2,0.5,0.3,0.1,0.5,0.4c2.3,2.5,3.1,4.3,5.8,7.4c0.1,0.3,0.3,0.7,0.5,0.4c0.7,0.4,0.5,1,1,1.5c0.1,0.3,0.2,0.6,0.6,0.9c2.4,3,4.1,6,6.3,9c0.2,0.1,0.4,0.3,0.5,0.4c-0.2,0.3,0.2,0.4,0.4,0.7c0,0.4,0.2,0.8,0.4,1.1c-0.2,0.8,0,1.4,1.1,2c-0.3,1.7,2.2,1.3,3.1,1.4c1.5-0.3,3.4,1.9,4.7,0.9c0.1,0.1,0.2,0.1,0.3,0.2c0.6,0,1.4,0.6,1.9-0.3c1.3,0.9,2.6,0.8,4.2,1c0.4,0.2,0.8,0.5,0.6,0.9c3.1,0,7.2,0.8,9.9,2.9c0.3-0.9,1.9,0.4,3,0.5c0.1,0.3,0.3,0.7,0.5,0.4c0.8-0.1,1,1.2,1.9,0.2c0.4,1.3,1.9-0.1,3.1,1.4c0.5-0.3,1.3,1,1.7,0c1.4,1.2,4.4,1.3,7,1.7c0.2,0.1,0.4,0.3,0.5,0.4c0.8-0.3,1.9,0.8,2.8,0.7c0.1,0.1,0.2,0.1,0.3,0.2c1.7,1.6,7.6,1.8,8.5,3.6c0.6,0,1.2-0.5,1.9,0.2c0.8,1,2.5,0.5,2.4,1.3c0.6,0.3,1-0.9,1.7,0c6.8,1.7,10.3,2.9,16.3,4.2c0.9-0.2,1.8-0.4,2.9,0c0.6-0.4,1.5,1.3,1.9,0.2c0.1,0.6,1,1,1.5,0.2c1.7,1.2,4.5,1.2,6.8,2c0.1,0.1,0.2,0.1,0.3,0.2c0.9,0.1,1.9,0.8,2.8,0.7c0.5,0.4,0.9-0.5,1.5,0.2c0.5,0.3,2.7,0.2,3.4,0.4c0.5-0.3,0.5,0.3,0.8,0.6c2-0.3,2.8,0.8,4.9,0.6c0.5,0.4,0.8,0.1,1.3,0.5c0.3,0.2,0.4,0.4,0.4,0.7c0.7,0.1,1.3,0,1.9-0.3c0.1,0.1,0.2,0.1,0.3,0.2c-0.1,1.4,1.1-0.6,1.8,0.4c0.8,0.3,1.6,0,2.5,0.5c0.2,0.2,0.3,0.1,0.5-0.1c0.4,0.3,0.7,0.6,1,0.3c1.8,0.6,5.5,2.7,7.8,2.3c0.8,1.1,2.5,0.5,2.5,1.7c2-0.7,3.6,1.5,5.7,1.2c0.3,0,0.6,0,1,0.3c0.3,0.6,1.3,0.7,2.1,1.1c1.7-0.7,3.6,0.7,5.4,0.5c0.2,0.1,0.4,0.3,0.5,0.4c1.6,0.7,3.2,1,4.3,2.6c0.1,0.5,0.5,2.1,1.3,1.7c0.1-0.1,0.1-0.2,0.2-0.3c1,0,1.9-0.2,3,0.9c0.2,0.1,0.4,0.3,0.5,0.4c0.4,0,0.8-0.2,1.1-0.4c0.9,0.5,1.8,1.4,2.5,0.5c1.4,1.1,2,0.5,2.3,2c-0.1,0.3-0.3,0.2-0.5,0.1c-0.2,0.8,0.2,1.4,0.6,2.1c-0.8,1.1,1,2.7,1.7,2.8c0.3,0.2,0,0.5-0.1,0.7c0.6,0.2,1.2,0.7,1.8,0.4c0.3,0.2,0,0.5-0.1,0.7c0.7,0.2,1.7,0.1,1.8,0.9c0.4,1.1,0.5,1.1,1.7,1.6c0.2,1,0.9,1.9,2.1,2.8c0.4,0.3,0.7,0.5,1.1,0.8c-0.1,0.4,0.5,1.8,1.2,1.2c0.3,0.3-0.1,0.7-0.3,1c1.6,0.8,1.8,1.9,3.4,2.8c0,0.9,0.8,0.3,1.2,1.2c1,0.5,0.1,1.5,1.2,1.2c0,0.4,0.8,0.6,1,1.5c0.2,0.4,0.4,0.7,0.4,1.1c-0.3,0.4,0.3,0.6,0.2,0.9c0.1,0.1,0.2,0.1,0.3,0.2c-0.2,0.2-0.1,0.3,0.1,0.5c-0.4,0.7,1,1.1,0.8,1.8c-0.7-0.3-0.6-0.7-0.9-1.1c-0.9,0.9,0.2,1.4,1.1,2c0.4,0,1.1,0.1,0.8,0.6c0.8-0.2,1.5-0.4,2.3-0.4c0.6-0.1,0.5,0.2,0.8,0.6c0.8,0.2,1.3-0.6,2.1-0.1c0.6-0.7-0.1-0.9,0.8-1.1c0.1-0.1,0.1-0.2,0.2-0.3c0.2-0.1,0.4-0.1,0.5-0.1l0,0c1.3-0.3,2.5-0.6,3.7-0.8c-1.1,0.3-2.4,0.5-3.7,0.8c0.9,0.4,1.8,0.8,2.5-0.1c0.3,1.2,1.6,0,2.5,0.5c0.4-0.5,0.1-0.8,0.5-1.3c1.2-0.4,1.8-1,3.3-1.8c1-0.2,2-0.2,3-0.7c1-0.3,1.9-0.9,2.9-1.2c0.7-0.3,1.5-0.5,2.3-0.9c0.5,0.1,0.9-0.2,1.3-0.7c0.4,0,0.8-0.2,1.1-0.4c0.2,0.1,0.4,0.3,0.5,0.4c1.4-2,4.5-1.9,5.3-2.8c0.1-0.1,0.1-0.2,0.2-0.3c0.2-0.1,1.6,0.5,0.9-0.2c2-0.7,4.1-1.5,6-2.7c0.9-0.1,1.7-0.1,2.5-1.1c0.4,0.4,0.7,0.2,0.9-0.2c2.6-1,3.8-1.4,6.2-3c0.2,0.2,0.3,0.1,0.5-0.1c1-0.1,2-0.4,2.9-1.2c0.1-0.1,0.1-0.2,0.2-0.3c4.2-0.8,6.9-2.4,11.1-4c1.5-0.2,2.9-0.8,4.3-1.4c1,0,2-0.6,2.9-1.2c1.2,0.5,2.2-0.1,3.2-1c1.3,0.1,2.2-0.5,3.9-1.4c2.9,0.7,3.9-1.6,5.4-3.6c-0.4-0.4-2-1.5-1.1-2.5c-2-0.8-2.7-3.2-3.5-4.9c-1-2.2-2.3-1.3-4-2.4c-2.2-1.5-4.9-4.9-5.3-7c0.5-1.2-0.9-1.7-2-1.8c-0.6-0.3-0.8-0.7-0.4-1.1c-2.2-2.4-4.2-1.6-6.9-4.1c-3.2-2.5-6.5-5.4-8.7-7.4C257.4,152.6,256.8,152.2,256.1,151.7z M33.8,94.3c24.7,6,52.1,14.2,76.8,20.9c0.9-0.3,2,0.6,3,0.5c0.5,0.4,0.8,0.1,1.3,0.5c0.4-0.1,0.9,0.4,1.2,0c3.3,0.9,6.6,1.9,9.8,2.4c0.9,0.3,1.9,0.8,2.8,0.7c2.4,0.9,4.6,0.9,7,1.7c0.4-0.3,1.1,0.7,1.5,0.2c2.6,0.9,5.2,1.3,7.8,2.3c0.7,0.5,1.3,0.2,1.9,0.2c4.5,1.6,11.9,3.3,17.8,4.5c1.1,1.1,2.1,0.8,3,0.9c2.8,1,5.5,1.4,8.3,2.2c0.7,0.6,1.4,0.9,2,0.6c1,0.3,1.3,0.3,1.8,0.4c0.2,0.1,0.4,0.3,0.5,0.4c6.3,1.6,11.5,2.8,16.9,4.6c-0.3,0.5,0.8,0.8,0.7,1.3c0.3-1.1,2.4,1.4,3.4,0.4c0.1-0.3,0.3-0.2,0.5-0.1c0.4,0.4,0.7,0.1,1,0.3c0.6-1.3,1.8-1.3,1.3-2.4c0.3-0.4,0.6-0.7,0.3-1c0.1-0.1,0.1-0.2,0.2-0.3c1.3-0.2,0.7-1.5,0.8-2.3c0.3-0.3,0.3-0.5,0.1-0.7c0.3-0.4,0.6-0.7,0.3-1c0.6-0.6-0.1-0.9,0.7-1.6c0.2-0.3,0.5-0.2,0.7-0.4c0.1-1.1,0.9-2.2,1.6-3.4c0.2-0.6,1.5-1.4,0.9-1.8c1.1-2.4,1.4-3.3,1.7-5.3c0.1-0.2,0.3-0.4,0.4-0.5c0.9-0.5,1.3-1.2,1.6-2.2c3.9,3.7,5.3,6.3,11.1,11.6c0.2,0.5,0.5,0.9,1.2,1.2c0.1,0.1,0.2,0.1,0.3,0.2c1,0.4,0.8,1,1.4,1.4c2.2,1.2,4.5,3.9,6.4,5.4c0.4,0.5,1.8,0.8,1.4,1.4c10,8.7,19.1,19.4,28.2,27.5c-1.9,0.9-4,1.3-6.1,1c-0.1,0.2-0.3,0.4-0.4,0.5c-0.7-0.1-1.3,0-1.9,0.3c-0.4-0.2-0.8,0.1-1.2,0c-0.8-0.1-1.6,0.1-2.3,0.4c-1.4,0.2-2.8,0.5-4.2,0.8c0,0,0,0,0,0c-0.1,0-0.2,0.1-0.3,0.1c0,0,0,0,0,0c-0.2,0.1-0.4,0.2-0.6,0.2c0.2-0.1,0.4-0.2,0.6-0.2c-8.3,1.5-16.5,3.6-24.6,6.5c-0.6,0.2-1.3,0.1-1.8,0.8c-0.8-0.2-1.4,0.5-2.1,0.6c-0.4,0.5-1-0.2-1.3,0.7c-1.3,0-2.5,0.5-3.7,1.1c-0.1,0.3-0.3,0.2-0.5,0.1c-0.6,0.2-1.3,0.1-1.8,0.8c-0.3,0-0.7-0.1-0.9,0.2c-1.9,0.7-3.8,1.1-5.6,2.1c-0.3-0.2-0.4,0.2-0.7,0.4c-1.9-1.7-3.1,0.6-4.5,1.7c-1.5-1.5-3.5-2.9-2.3-4.9c0.2,0.2,0.1,0.5,0.4,0.7c0.1-1.7,0.3-1.8,0.9-3.5c0.3-0.3,0.3-0.5,0.1-0.7c0.1-0.2,0.3-0.4,0.4-0.5c2-3.2,1.3-7.7,4.7-9c0.7,0,1.4-1.5,1.5-2.7c0-2.3,0.6-6-1.1-6.5c-0.4-1.6-3.3-3.3-4.7-2.1c-0.6,0.1-2,0.7-1.2,1.6c-0.2,0.3-0.4,0.5-0.6,0.8c-0.2-0.7-0.4-0.7-0.9,0.2c-4.8,0.5-10.1-2-15-2c-0.2-0.1-0.4-0.3-0.5-0.4c-1.1,0.1-2.5-1.2-3.5-0.8c-0.7,0.2-1.5-0.4-2.2-0.3c-1.6-0.6-3.1-1.1-4.5-1.2c-0.7-0.4-1.4-0.6-1.9-0.2c-2.6-0.8-5.2-1.6-7.8-1.8c-0.4-0.4-0.7-0.1-1-0.3c-0.6-0.5-1.2-0.2-1.8-0.4c-0.3-0.1-0.5,0.1-0.7-0.1c-3.3-0.5-6.7-1.8-10-2.2c-0.7-0.4-1.4-0.5-2-0.6c-3.4-0.7-6.9-1.9-10.3-2.4c-0.8-0.2-1.6-0.8-2.3-0.8c-0.2-0.2-0.3-0.1-0.5,0.1c-0.8-0.7-1.3-0.4-2-0.6c-0.2-0.2-0.3-0.1-0.5,0.1c-0.1-0.1-0.2-0.1-0.3-0.2c-0.8-0.4-1.5-0.5-2.2-0.3c-0.5-0.4-0.8-0.1-1.3-0.5c-0.2-0.2-0.3-0.1-0.5,0.1c-0.5-0.4-0.8-0.1-1.3-0.5c-2-0.1-4.2-1.1-6.2-1.1c-0.2-0.1-0.4-0.3-0.5-0.4c-1.7-0.5-5.2-0.4-5.7-2.4c-0.5-0.1-1-0.1-1.4,0.2c-1-0.5-1.8,0.6-3-0.5c-1.3,0.1-2.8-1.2-4-0.8c-0.6-0.6-0.9,0.1-1.6-0.7c-2.7-0.5-5.6-1.6-8.2-1.7c-1.4-0.9-2.7-0.8-4-1.2c-1.3-0.4-2.6-1-3.8-1c-0.5-0.4-0.8-0.1-1.3-0.5c-0.2-0.2-0.3-0.1-0.5,0.1c-0.4-0.4-0.7-0.1-1-0.3c-4.1-1.4-8.1-2.7-12.2-3.7c-0.6-0.8-1-0.1-1.6-0.7c-5.8-1.4-11.7-3.9-17.5-5.5c-0.8-0.7-1.3-0.4-2-0.6c-4.3-1.6-8.5-2.9-12.7-4.1c0-0.7-1.8-0.3-2.6-1c-0.3-0.3-0.5-0.3-0.7-0.1c-0.8-0.5-1.5-0.3-2.3-0.8c-0.2-0.2-0.3-0.1-0.5,0.1c-0.9-0.8-1.7-0.4-2.6-1c-1.6-0.4-3.2-0.7-4.8-1.4c-0.5,0-1-0.2-1.6-0.7c0.3-0.3,0.3-0.5,0.1-0.7c0.2-0.3,0.4-0.5,0.6-0.8c-0.8-0.3,0.4-1.7-0.7-2.5c0.2-0.2,0.5-0.1,0.7-0.3c-0.6-0.8,0.3-1.8-0.2-2.6c0.3-1,0.3-1.3,0.4-1.8c-0.3-0.1-0.2-0.3-0.1-0.5c0.5-1.8,0.7-3.7,1-5.5c0.1-0.1,0.1-0.2,0.2-0.3c0.4-0.5,0.1-0.8,0.5-1.3c0.3-0.9,0.9-0.2,1.3-0.7c0.1-0.2,0.3-0.4,0.4-0.5C28.9,94.3,31.5,94.8,33.8,94.3z M246.4,168.5C246.4,168.5,246.3,168.5,246.4,168.5C246.3,168.5,246.4,168.5,246.4,168.5z M247.8,169.2c0.1-0.1,0.1-0.2,0-0.3C247.8,169,247.8,169.1,247.8,169.2z M247.4,168.1c0.1,0.3,0.3,0.5,0.4,0.8C247.7,168.6,247.5,168.4,247.4,168.1z M246.3,168.5C246.4,168.5,246.4,168.5,246.3,168.5C246.4,168.5,246.4,168.5,246.3,168.5z M246.4,168.5c0.1,0,0.1,0,0.3-0.1C246.6,168.5,246.5,168.5,246.4,168.5z M257,179.4c-0.2-0.6,0.1-1.3-0.8-1.8c0.6-0.2,0.8-0.5,0.8-1.1c0.7-0.9-0.3-1.6,0.1-2.4c1.5-0.5-0.4,0-0.1-0.5c0.3-0.6-0.4-1,0.4-1.7c1.1-0.2,2.3,0.6,3.3-0.6c1.4,0.4,2.7,0,4-0.4c1.3,0.8-1.3,1,0.3,1.9c0.1,0.1,0.2,0.1,0.3,0.2c0.6,0.9-0.4,2.1,0.7,3c0.1,0.1,0.2,0.1,0.3,0.2c-0.1,0.1-0.1,0.2-0.2,0.3c0.7,0.9,0.3,2,0.7,3c-0.2,0.2-0.5,0.1-0.7,0.3c-0.3,0.6,1,0.1,0.9,1.1c-0.2,0.3-0.5,0-0.7-0.1c0.7,0.6,1,1.4,0.9,2.7c1.6,1.9,0.5,3.2,0.1,5c-1.1-0.1-2.2,0.2-3.2,1c-0.8-0.1-1.6,0.1-2.3,0.9c-1.5-0.6-0.2-1.6-0.9-2.3c-0.1,0.1-0.1,0.2-0.2,0.3c-0.4-0.4-0.7-0.2-0.9,0.2c-0.2-0.2-0.1-0.5-0.3-0.7c0.2-0.3,0.5-0.2,0.7-0.4c-0.2-0.5-0.8-1-1-1.5c0.2-0.3,0.4-0.5,0.6-0.8c-0.5-0.4-1.1-0.8-1.6-1.2c0-1.1-0.5-2.2-1-3.2C257.3,180.3,257.3,179.9,257,179.4z M246.4,168.5c0,0,0.1,0,0.1-0.1C246.5,168.4,246.4,168.5,246.4,168.5z M183.1,174.6c-0.3,0.4-0.3,0.7-0.3,1c-0.8-1-0.2-0.8,0-1.7c-2.3-0.2-1.6-2.3-3-3.3c-0.5-1,0.1-2.1-1.2-2.9c-0.3-0.3-0.1-0.8-0.4-1.1c0.8-1.6-0.1-2.9-0.2-4.3c0.1-1.1,0.1-2.1,0.7-3.2c0.3,0.1,0.5,0.4,0.7,0.1c3.8,0.8,6.2,1.8,9.7,2c4.3-0.1,9,3.2,5.7,8.2c-0.2,0.3-0.4,0.5-0.6,0.8c-0.1,0.1-0.1,0.2-0.2,0.3c0.6,0.5,0.1,1.1-0.4,1.8c-0.5,0.6-0.7,1.1-0.7,1.6c-0.4,0.5-0.5,0.9-0.5,1.3c-1.3,0.7-2.1,3.1-2.8,3.4c0.3-0.3,0.6-0.2,0.9-0.2c-0.5,0.7-1.1,0.5-1,1.4c-0.3-1.2-1.6,0.2-2.4-0.1c-1.1,0.2-0.5-1.1-1.7-1.6c0.7-1.2-1.1-0.6-1.3-1.7C183.4,175.7,183.5,175.1,183.1,174.6z M202.4,200.7c0.1-1-0.9-1.1-2.1-2.3c-0.9-0.8-0.9-1.8-2.3-2.5c0.5-0.6-0.9-0.8-1.2-1.2c0.1-0.1,0.1-0.2,0.2-0.3c-2.5-2-1.2-4.6,1.2-4.5c0.4-0.3,0.9-0.4,1.3-0.7c0.6-0.2,1.1-0.9,1.8-0.8c0.3,0.6,0.3,1.2,0.8,1.8c1,2.4,0.9,5,3.1,7.2c0.2,0.1,0.4,0.3,0.5,0.4c-0.5,1.1,1.1,1.9,1.2,2.9c0.5,1.5,1.2,3,0.8,4.7C206.4,204.2,204.2,202.3,202.4,200.7z M95,155.1c-1.8,1.2-2.8-0.9-4.9-0.6c-0.5-0.3-1-0.5-1.5-0.2c-1.2-0.2-1.6-0.9-2.5-1.8c0.9-2.4-1.6-1.9-2.5-3.4c0.2-0.3,0-0.5,0.1-0.7c-0.7-0.4-1.3-0.9-1.4-1.4c0.1-0.3,0-0.5-0.4-0.7c-0.6-0.5,0.2-1.3-0.8-1.8c-0.4-0.5,0.1-1.1-1-1.5c-0.5-0.4,0.2-1-0.7-1.3c0.5-0.8-1.5-1.2-0.6-2.1c-0.5-0.4-0.8-0.1-1.3-0.5c0.4-0.5,0.2-0.7-0.4-0.7c-0.2-0.2-0.2-0.5,0.1-0.7c-1.7-1.3-1.3-3-2.2-4.4c0.7,0.5,1.4,0.8,2,0.6c0.6,0.6,0.9-0.1,1.6,0.7c1.8,0.5,3.5,1,5.3,1.3c0.4,0.3,0.7,0.3,1,0.3c0.6,0.8,1,0.1,1.6,0.7c-0.8,0.7-0.6,0.4-1,1.4c1.4,0.3,0.1,1.1,0.5,1.6c0.2-0.2,0.5-0.2,0.7,0.1c-0.1,0.3-0.4,0.5-0.1,0.7c0.3-0.3,0.6-0.2,0.9-0.2c-0.1,0.1,0,0.5,0.3,0.2c0.6,1.4,3.5,1.6,3.5,3.7c2.1,0.4,0.6,2.4,2.6,2.7c-0.2,0.4-0.4,0.7,0.2,0.9c0.7,0.1,0.6,1.9,1.5,1.9c0.1,1.2-0.1,2.4,1.3,3.4c-0.6,1.4,0.3,2.3-0.7,2.8C95.7,155.6,95.2,156,95,155.1z M116.1,160.2c-0.6,0.4-1.7,0.3-1.8-0.4c-0.3,0.3-0.5,0.6-0.9,0.2c-0.6,0-0.9-0.2-1.1-0.8c-0.5,0.9-1.2,0.3-1.9,0.3c-0.7-0.2-1.5-0.4-2.2-0.3c-0.8,0.1-1.8-0.9-2.6-1.5c0.5-0.6,0.7-1.1,0.2-1.5c-0.1,0.2-0.3,0.3-0.5,0.1c-0.1-1.9-1.5-2.4-2.2-3.2c0.1-0.1,0.1-0.2,0.2-0.3c0.2-1.2-1.5-2-2-3c-0.1-0.8-0.5-1.5-0.9-2.3c-1.2,0.1-0.9-3.1-2.4-3c-0.2-1.6-1.3-1.7-1.8-3.3c-0.1-0.7-0.7-1.6-1.4-1.4c0.1-0.2,0.2-0.3-0.1-0.5c0-1.2,0.5-0.1,1.8,0.4c0.6-1.2,1.8,0.9,2.4,0.1c0.8,0.7,1.4-0.1,2.3,0.8c0.7,0.9,1.1,0.2,1.8,0.4c0.2,0.1,0.4,0.2,0.5-0.1c0.3,0.3,0.5,0.3,0.7,0.1c0.5,0.3,0.9,0.6,1.4,1c0.1-0.1,0.1-0.2,0.2-0.3c0.4,0.2,0.7,0.6,1,0.3c0.1,0.1,0.2,0.1,0.3,0.2c0.3,0.1,0.5,0,0.7-0.4c1.2,0.8,0.7,1.8,1.4,2.6c-0.3-0.1-0.5-0.4-0.7-0.1c0.3,0.4,0.2,0.7,0.8,0.6c1.4,1.9,1.8,2.5,3.4,4.5c-0.1,0.2-0.2,0.4,0.1,0.5c0.7,0.4,0.5,1,1,1.5c0.4,0.8,0.8,1.6,1.6,2.4c-0.2,0.3,0,0.5-0.1,0.7c1.3,0.7,1.8,1.6,2.3,2.5c0.9,0.6,0.3,1.5,1.3,2.2c-0.2,0.7-0.1,1.7-0.9,1.8c-0.9,0.1-0.7-0.5-1.4-1c-0.1,0.1-0.1,0.2-0.2,0.3C116.2,160.3,116.1,160.2,116.1,160.2z M41.3,138.6c0.2-0.4-0.5-0.7-0.9-1.1c-0.8,1.3-1.7-0.4-3,0.7c-1.1-0.9-2.1-1.1-3.1-1.4c-0.3-0.3-0.1-0.6-0.6-0.9c-2.9-4.7-4.7-7-7.5-11.9c-0.1-0.1-0.2-0.1-0.3-0.2c-2.4-2.7-3.4-4.5-4.3-7.2c0.9,1,1.9-0.3,2.1,1.1c0.1-0.2,0.3-0.3,0.5-0.1c0.7,0.1,1.4-0.3,1.6,0.7c1.9-0.7,4.2,1.2,6.2,1.1c0.5,0.4,0.8,0.1,1.3,0.5c1.1,3,3.8,7.1,4.9,7.6c0.1,0.1,0.2,0.1,0.3,0.2c-0.3,1.3,1.3,2.3,2,3.5c0,1,0.1,1.9,0.5,2.8c0.1-0.1,0.1-0.2,0.2-0.3c1,1,1.1,2.2,1.3,3.4c0.4,0.3,0.5,0.6,0.6,0.9c-0.1,0.2-0.3,0.4-0.4,0.5C42.1,138.5,41.7,138.8,41.3,138.6z M49.5,140.4c-1.5-0.8-1-2.5-2.2-3.2c-0.5-0.5,0-1.1-0.5-1.6c-0.3-0.2-0.5-0.4-0.8-0.6c-0.8-2.5-1.9-4.2-2.9-7c-0.8,0.6-0.8-1-1.2-1.2c-0.5-0.4,0.2-1-0.7-1.3c-0.4-1.1-1.5-2.1-1.3-3.4c1.6,0.9,3,0.9,4.5,1.2c0.5,0.4,0.9,0.5,1.3,0.5c1,1,1.7,0.4,2.6,1c0,0.6,0.9,1.1,0.3,1.9c0.1,0.1,0.2,0.1,0.3,0.2c0,0.7,0.9,1.3,1.1,2c-0.2,0.3-0.5,0.2-0.7,0.4c0.6,0.5,1.1,0.7,1.6,0.7c-0.2,0.3-0.4,0.5-0.6,0.8c1.6,0.8,1.7,1.9,3,2.1c-0.3,0.5-0.3,0.8,0,1.2c0.4-0.4,0.3,0.3,0.8,0.6c-0.5,0.6-0.4,1,0.2,1.4c0.6,1,1.4,2,1.5,3.1c0.1,0.8,0.5,2.8,1.4,2.6c0.5,0.5-0.8,1.3,0.4,1.1c-0.1,0.2-0.2,0.4,0.1,0.5c-0.4,0.5,0.5,0.9-0.2,1.5c-0.8-0.6-1.5-0.6-2.3-0.8c-0.5-0.5-0.9-0.3-1.3-0.5c-0.4-0.3-0.5-0.6-0.6-0.9c-0.2-0.1-0.4-0.3-0.5-0.4c-0.3-0.2-0.5-0.4-0.8-0.6c0-0.4-1.1-1.3-2.1-1.1C49.7,140.5,49.6,140.5,49.5,140.4z M71.7,149.2c-0.3-0.3-0.5-0.3-0.7-0.1c-0.6,0.1-1.4-0.6-2.1-1.1c-0.2,0.2-0.4,0.5-0.7,0.4c-0.6-0.3-0.4-0.7-0.9-1c0-1.4-0.1-2.9-1.2-4.1c0.1-0.1,0.1-0.2,0.2-0.3c-0.9,0.3-2-0.3-3-0.5c0.1-1.6-1.6-1.4-1.7-2.8c0.3-1.1-1.9-1.8-0.7-3c-1.9,0.8-0.3-1.6-2.1-2.3c0.3-0.6-0.3-1.1-0.5-1.6c-0.4-0.4-0.3-2-1-1.5c-0.3-0.2-0.2-0.5-0.4-0.7c0.1-0.1,0.1-0.2,0.2-0.3c-0.9-0.9-0.6-2-0.7-3c2.8,1.1,5.4,1.8,8.1,2.5c0.2,0.1,0.4,0.3,0.5,0.4c1.1,0.6,2.1,0.2,3.3,1.1c-0.3,0.5-0.7,0.8-1,0.9c0.5,0.4,0.8,0.1,1.3,0.5c0,1-0.2,1.8,1.1,2c-0.1,0.2-0.3,0.4-0.4,0.5c0.4,0.3,0.7,0.5,1.1,0.8c-0.1,0.6,0.3,1.1,1,1.5c0.2,0.2,0.2,0.5-0.1,0.7c0.8,0.6,1.9,1.1,2,1.8c-0.4,0.6,0.3,1.1,1,1.5c-0.6,0.7,0.9,1,0,1.7c1.2,0.2,1.8,1.5,1.9,2.6c0.2-0.2,0.4-0.5,0.7-0.4c0,0.6-0.5,1.2,0.5,1.6c0.4,0.6-0.4,0.9,0.6,0.9c-0.1,0.3,0,0.5,0.3,0.7c-0.2,0.4-0.1,1,0.8,1.8c0.2,0.2,0.2,0.5-0.1,0.7c-0.2-0.1-0.4-0.3-0.5-0.4c-0.1,0.1-0.1,0.2-0.2,0.3c-0.7-0.8-1.1-0.1-1.8-0.9c-0.1,0.1-0.1,0.2-0.2,0.3c-0.2-0.1-0.4-0.3-0.5-0.4c-0.4,0.1-0.9-0.4-1.2,0C73.5,149.6,72.6,149.2,71.7,149.2z M134.9,164.9c-3-1-5.2-1-7.2-2.6c0.4-0.5,0.1-0.8,0.5-1.3c-1.3-0.2-1.1-1-2-1.8c-0.5-0.1-1.2-1.3-1.6-0.7c-0.4-0.3,0.2-0.8,0.5-1.3c-0.6-0.6-0.9,0.1-1.6-0.7c-0.2-0.1-0.4-0.3-0.5-0.4c-0.1-0.7-1.2-1.2-2-1.8c0.2-0.3-0.2-0.4-0.4-0.7c-0.1-0.1-0.2-0.1-0.3-0.2c0.2-0.3-0.2-0.4-0.4-0.7c-0.7-1.5-1.3-2.8-2.3-3.7c0-1.6-1.1-1.5-1.7-2.8c-0.2-0.8-1.6-2.2,0.2-1.9c1.4,0.9,2.7,0.8,4.1,1.2c0.1-0.1,0.1-0.2,0.2-0.3c0.8,0.7,1.3,0.4,2,0.6c0.1,0.1,0.2,0.1,0.3,0.2c0.2,0.1,0.4,0.3,0.5,0.4c0.7-0.1,1.6,0.8,2.2,0.3c0.9-0.1,1.9,0.6,2.8,0.7c0.4,0.2,0.8,0,1.3,0.5c-0.8,2.9,1.9,5.2,3.5,6.6c0.5,1,0.9,1.9,1.7,2.8c-0.1,0.3,0,0.5,0.4,0.7c1,1.7,1.4,3.4,3,5c-0.1,0.2-0.2,0.4,0.1,0.5c0.5,0.4-0.2,1,0.7,1.3c0.3,0.2,0.5,0.4,0.8,0.6c-0.2,0.2-0.5,0.1-0.7,0.4c-0.7-0.1-1.3-0.3-2-0.6C136.3,164.9,135.6,165,134.9,164.9z M160.1,171.7c-1.4-0.3-3-1.4-4.2-1c-0.1-0.1-0.2-0.1-0.3-0.2c-0.9-0.8-1.7-0.4-2.6-1c-0.1,0.1-0.1,0.2-0.2,0.3c-0.8-0.6-1.6-1-2.3-0.8c-0.1-0.1-0.2-0.1-0.3-0.2c-0.4-0.4-0.7-0.1-1-0.3c-0.7-0.3-1.3,0.1-2-0.6c0.8-2.1-0.7-2.5-2-3.5c-1.2-1.3-2.7-4.1-3.7-5.1c-0.3-0.4-0.4-0.9-0.7-1.3c-0.2-1-1.4-1.8-1.7-2.8c-0.1-0.1-0.2-0.1-0.3-0.2c0.3-0.5,0-1-0.7-1.3c-0.3-1.4-1.7-2.6-0.7-4.2c0.1,0.1,0.2,0.1,0.3,0.2c1.9,0.3,3.9,1.2,5.7,1.2c0.2,0.1,0.4,0.3,0.5,0.4c2.4,0.3,4.9,1.8,7.2,1.4c0.2,0.1,0.4,0.3,0.5,0.4c0.1,0.1,0.2,0.1,0.3,0.2c0.3,0.4,0.2,0.7,0.8,0.6c-0.2,0.3-0.5,0.2-0.7,0.4c0.2,2.2-0.1,2.9,0.3,4.8c1.2-0.6,2.5,1.2,2.5,2.2c0.3-0.3,0.6,0,1,0.3c-0.1,0.2-0.2,0.4,0.1,0.5c-0.1,0.1-0.1,0.2-0.2,0.3c0.2,0.6-0.1,1.3,0.8,1.8c0.2,0.1,0.4,0.3,0.5,0.4c0.2,1.3,0.5,1.3,1.3,2.2c-0.1,0.1-0.1,0.2-0.2,0.3c0.4,1.3,1.5,2.5,1.8,3.8C159.9,171,160.2,171.3,160.1,171.7z M163.8,167c-0.1-0.1-0.2-0.1-0.3-0.2c-0.4-1.7-1.2-3.3-2.3-4.9c0.1-0.4,0-0.8-0.4-1.1c-0.4-0.5,0.5-1.2-0.5-1.6c0.1-0.2,0.2-0.3-0.1-0.5c-0.8-1.9-0.2-1.9-0.9-3.9c1.5,0.3,3,0.8,4.4,0.7c0.2,0.6,0.5,0.8,1,0.3c0.1,0.1,0.2,0.1,0.3,0.2c0.1,0.1,0.2,0.1,0.3,0.2c1.9-0.4,4.1,1.3,6,1.4c0.4,0.8-1,1.9-0.3,2.7c0.5-0.4,0.2,0.3,0.3,0.7c0.8,0.8,0.2,1.9,0.5,2.8c0.5-0.7,1,0.6,1.1,0.8c-0.1,0.3,0,0.5,0.4,0.7c-0.2,0.5,0,0.7-0.6,0.8c0.9,0.3,0.2,0.9,0.7,1.3c0.5,0.5,0,1.1,0.5,1.6c0.2,0.7,0.7,1.3,0.1,2.1c1.5,1.2,1,2.7,2.1,4c-0.4,0.5-0.1,0.8-0.5,1.3c-1-0.4-1.8-0.4-2.8-0.7c-1.8-0.8-3.1-0.5-4.5-2.4C168.8,170.3,163.9,170.4,163.8,167z M217.3,214.2c0.4-0.1,0.9-0.2,1.2-0.4C218.2,213.9,217.7,214.1,217.3,214.2z M217.6,207c-0.7-0.5-0.5-1.1-1.4-1c-1.4-1.4-0.8-1.8-0.5-3.3c-1-0.4-0.7-0.2-1.4-1c-1.4,0.7-2-1-2.7-1.9c-0.1-0.1-0.2-0.1-0.3-0.2c0.2-0.6-1.3-0.9-1-1.5c-0.5-1.4-1.5-2.8-1.9-4.2c-0.8-2.7-2.8-5.2-2-7.6c2.2-1.2,4.6-1.5,6.8-2.6c0.3,0.2,0.6,0,0.9-0.2c0.1,0.1,0.2,0.1,0.3,0.2c0.5-0.9,1.1-0.9,1.8-0.8c-0.8,0.9,0.4,1.5,0.9,2.3c-0.2,0.4,0.4,0.7,0.4,1.1c-0.4,0.7,1,1.1,0.8,1.8c0,0.6,0.7,1.2,0.8,1.8c-0.2,0.4,0.4,0.7,0.4,1.1c0.9,2.6,1.2,5.4,2.7,7.2c0.1,0.1,0.2,0.1,0.3,0.2c0.5,0.4-0.2,1,0.7,1.3c-0.4,1.4,1,2.5,0.9,3.9c-0.5,1.3-0.3,2.1-1.7,2.5c-0.1-0.1-0.2-0.1-0.3-0.2C220.8,207.4,219,206.3,217.6,207z M227.3,198.6c-0.5,0.6-0.5-0.8-0.9-1c0.2-0.8-0.5-1.4-0.6-2.1c-0.1-0.1-0.2-0.1-0.3-0.2c-0.4-1.4-1-2.7-1.2-4.1c-0.3-0.2-0.2-0.5-0.4-0.7c-0.1-0.8-0.5-1.5-0.9-2.3c-0.4-2.6-0.8-5.1-0.1-7.9c0.7-0.6,1.5-0.5,2.3-0.9c0.2-0.3,0.5-0.2,0.7-0.4c0.6-0.5,1.4-0.1,2.1-0.6c0.2,0.2,0.3,0.1,0.5-0.1c0.6-0.3,1.2-0.3,1.8-0.8c0.1,0.1,0.2,0.1,0.3,0.2c0.7-0.2,1.3-0.7,2.1-0.1c1.1,0.6,0.5,2.1,1.8,3.3c0,0.8-0.2,1.6,0.4,2.3c0.3,0.2,0.2,0.5,0.4,0.7c0.4,3.4,1.8,6.6,2.9,9.8c-0.1,0.2-0.3,0.4-0.4,0.6c-0.1,0.1-0.1,0.2-0.2,0.3c0.9,0.6-1,1.6,0.6,2.1c-0.6,0.8,0,1.3-0.6,2c-0.2,0.3,0.2,0.5,0.4,0.7c0,0.4-0.1,0.8-0.5,1.3c-0.3-0.2-0.5,0.2-0.7,0.4c-0.8,0-1.6,0.2-2.3,0.9c-0.4,0.5-1-0.2-1.3,0.7c-0.6-0.3-1.1,0.3-1.6,0.5c-0.6-0.3-1.1,0.1-1.8-0.4C230.1,201.2,226.7,200.7,227.3,198.6z M239.2,182.4c0.1-1.9-0.4-3.6-0.2-5.5c0.5-0.5,0-0.8,0-1.2c3.2-1.2,6.6-1.6,9.9-2.4c0.3,0.1,0.5,0,0.7-0.4c1.2,4.4,3.1,8.8,3.7,13.3c0,1,0.4,1.9-0.5,3c0.2,1.3-0.7,2.7,0.6,3.7c-0.2,0.5-0.6,0.3-0.9,0.6c-1.1,1.2-2.4,1.1-3.5,2c-0.3-0.1-0.5,0-0.7,0.4c-0.5-0.3-1,0-1.3,0.7c-0.1-0.1-0.2-0.1-0.3-0.2c-0.4,0-0.8,0.2-1.1,0.4c-0.4,0.3-0.8,0.3-1.2,0c1.2-1.4-2.4-4-2.7-6C241.5,188,240,185.3,239.2,182.4z M272.1,173.8c3.8,3.4,6.1,6,8.1,9.5c-0.4,1.2-1.2,0.3-1.7,1.2c-0.6,0-1.2-0.2-1.6,0.5c-0.3-0.2-0.5,0.2-0.7,0.4c-1.2-0.2-2.1,1.1-3.3,0.6c0.3-1.5-0.6-2.8-0.7-4.2c0.5-1.2-0.4-2.2-0.5-3.3C271.8,176.9,270.8,175.5,272.1,173.8z">
        </path>
      </svg>
      <h2>Chưa đủ Năng lực triển khai</h2>
      <p>
        Bạn kinh doanh nhưng chưa có nhân sự hoặc kiến thức bài bản và kinh nghiệm chuyên sâu về marketing.
      </p>
    </div>
    <div class="item">
      <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 32 32" fill="rgba(233,30,99,1)">
        <path
          d="M6.813 2.406L5.405 3.812 7.5 5.906 8.906 4.5 6.812 2.406zm18.375 0L23.093 4.5 24.5 5.906l2.094-2.093-1.407-1.407zM16 3.03c-.33.004-.664.023-1 .064-.01 0-.02-.002-.03 0-4.056.465-7.284 3.742-7.845 7.78-.448 3.25.892 6.197 3.125 8.095.956.818 1.547 1.913 1.75 3.03v6H14.28c.348.597.983 1 1.72 1s1.372-.403 1.72-1H20v-4h.094v-1.188c0-1.466.762-2.944 2-4.093C23.75 17.06 25 14.705 25 12c0-4.94-4.066-9.016-9-8.97zm0 2c3.865-.054 7 3.11 7 6.97 0 2.094-.97 3.938-2.313 5.28l.032.032c-1.345 1.254-2.203 2.896-2.44 4.688h-4.374c-.22-1.714-.955-3.373-2.344-4.563-1.767-1.5-2.82-3.76-2.468-6.312.437-3.15 2.993-5.683 6.125-6.03.262-.034.522-.06.78-.064zM2 12v2h3v-2H2zm25 0v2h3v-2h-3zM7.5 20.094l-2.094 2.093 1.407 1.407L8.905 21.5 7.5 20.094zm17 0L23.094 21.5l2.093 2.094 1.407-1.407-2.094-2.093zM14 24h4v2h-4v-2z">
        </path>
      </svg>
      <h2>Chưa có/cần phòng Marketing riêng</h2>
      <p>
        Quy mô hoặc đặc thù của doanh nghiệp không cần phòng marketing riêng, phòng marketing thường đồng bộ với phòng
        kinh doanh hoặc kiêm nhiệm nhiều vị trí nên không chuyên sâu.
      </p>
    </div>
    <div class="item">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 32" version="1.0" fit="" height="100%" width="100%"
        preserveAspectRatio="xMidYMid meet" style="pointer-events: none; display: inline-block;"
        fill="rgba(156,39,176,1)">
        <path
          d="M27.467 10.667L21.174 3.2h-14.4L.48 10.667 0 11.2l.428.533L13.975 28.8l13.973-17.6-.48-.533zm-1.387 0H15.36l5.333-6.347 5.387 6.347zm-12.16 0l-5.547-6.4H19.36l-5.44 6.4zm-6.773-6.24l5.387 6.24H1.867l5.28-6.24zm6.293 7.306V26.4L1.76 11.733h11.68zM14.507 26.4V11.733h11.627L14.507 26.4z">
        </path>
      </svg>
      <h2>Muốn tập trung vào chuyên môn</h2>
      <p>
        Bạn cần tập trung vào công tác kinh doanh, không có nhiều thời gian để quản lý và giám sát các hoạt động truyền
        thông của mình.
      </p>
    </div>
    <div class="item">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27 32" version="1.0" fit="" height="100%" width="100%"
        preserveAspectRatio="xMidYMid meet" style="pointer-events: none; display: inline-block;"
        fill="rgba(255,152,0,1)">
        <path
          d="M27.275 15.638c0-1.288-1.02-2.282-2.374-2.282h-8.535c.545-1.265 1.524-3.92 1.524-6.66 0-3.127-1.57-3.783-2.887-3.783-.816 0-1.996.62-1.996 1.737 0 .472-.075 4.67-2.64 6.822-2.73 2.292-3.508 2.89-5.004 2.89-1.746 0-4.847.04-4.847.04L0 14.407v12.206h5.71c.372 0 1.484.496 2.467.932 1.622.722 3.46 1.54 4.696 1.54l8.25-.002c1.343 0 2.436-1.056 2.436-2.354 0-.53-.19-1.012-.495-1.405.984-.282 1.71-1.18 1.71-2.254 0-.538-.19-1.03-.495-1.428.968-.31 1.677-1.207 1.677-2.277 0-.538-.184-1.03-.485-1.43 1.03-.26 1.8-1.186 1.8-2.296zM24.9 16.962h-1.82v1.05h.476c.746 0 1.353.606 1.353 1.352s-.61 1.353-1.354 1.353H22.03v1.05h.394c.72 0 1.304.584 1.304 1.304s-.585 1.306-1.304 1.306H20.98v1.05h.144c.764 0 1.387.585 1.387 1.304 0 .72-.622 1.305-1.386 1.305h-1.34v.003h-6.91c-1.014 0-2.82-.804-4.27-1.45-1.425-.634-2.326-1.023-2.892-1.023H1.05v-10.12c.954-.012 3.012-.033 4.314-.033 1.94 0 2.96-.854 5.68-3.136 2.867-2.406 3.013-6.774 3.013-7.626 0-.428.657-.688.947-.688.55 0 1.837 0 1.837 2.735 0 3.456-1.744 6.91-1.76 6.945l-.39.763h6.425c.018.013.03 0 .03 0h3.757c.767 0 1.325.532 1.325 1.233 0 .73-.594 1.324-1.325 1.324z">
        </path>
      </svg>
      <h2>Sẵn sàng đầu tư cho Marketing</h2>
      <p>
        Hiểu được tầm quan trọng của hoạt động Marketing và sẵn sàng bỏ ra một mức chi phí hợp lý để tối ưu hóa hiệu quả
        lao động.
      </p>
    </div>
  </div>
  <div class="line container"></div>
</div>

<div class="section-5">
  <h1>CHÚNG TÔI MANG ĐẾN NHỮNG GÌ ?</h1>
  <p>Chúng tôi nỗ lực mỗi ngày để mang đến cho khách hàng sản phẩm và dịch vụ tốt nhất</p>
  <div class="list-container">
    <div class="container">
      <img src="https://static.ladipage.net/s400x400/5b90d016a21110493d6f2fa5/anh-1555407488.jpg">
      <div class="item">
        <h1>01</h1>
        <P>Tư vấn chiến lược Marketing ngắn hạn và dài hạn cho các cá nhân và đơn vị BẤT ĐỘNG SẢN</P>
      </div>
    </div>
    <div class="container">
      <img
        src="https://static.ladipage.net/s400x400/5b90d016a21110493d6f2fa5/54514420_836905806656126_896970397549854720_n-1555406837.jpg">
      <div class="item">
        <h1>02</h1>
        <P>Tư vấn chiến lược Marketing ngắn hạn và dài hạn cho các cá nhân và đơn vị BẤT ĐỘNG SẢN</P>
      </div>
    </div>
    <div class="container">
      <img
        src="https://static.ladipage.net/s400x400/5b90d016a21110493d6f2fa5/54433325_2261403464132221_2730034191482748928_n-1555406836.jpg">
      <div class="item">
        <h1>03</h1>
        <P>Tư vấn chiến lược Marketing ngắn hạn và dài hạn cho các cá nhân và đơn vị BẤT ĐỘNG SẢN</P>
      </div>
    </div>
    <div class="container">
      <img
        src="https://static.ladipage.net/s400x400/5b90d016a21110493d6f2fa5/54525338_464898487382067_4608115478970236928_n-1555470336.jpg">
      <div class="item">
        <h1>04</h1>
        <P>Tư vấn chiến lược Marketing ngắn hạn và dài hạn cho các cá nhân và đơn vị BẤT ĐỘNG SẢN</P>
      </div>
    </div>
  </div>
</div>

<div class="section-6">
  <div class="container">
    <img
      src="https://static.ladipage.net/5b90d016a21110493d6f2fa5/56140473_2089203644496889_3696324437772075008_n-1555470336.jpg">
    <img src="https://static.ladipage.net/5b90d016a21110493d6f2fa5/untitled-a-1555471387.jpg">
  </div>
</div>

<div class="section-7">
  <div class="container">
    <div>
      <h2>TẠI SAO LỰA CHỌN CHÚNG TÔI</h2>
      <div class="line"></div>
      <img src="https://static.ladipage.net/5b90d016a21110493d6f2fa5/sapo-omnichannel-1555474094.png">
    </div>
    <div>
      <p>Đội ngũ marketing chuyên nghiệp, có kinh nghiệm thực chiến trong lĩnh vực BẤT ĐỘNG SẢN.</p>
      <p>Giúp bạn tiết kiệm 60% ngân sách khi lập phòng Marketing</p>
      <p>Hỗ trợ và báo cáo với khách hàng hằng ngày</p>
    </div>
  </div>
</div>

<div class="section-8">
  <h1>Bảng giá dịch vụ</h1>
  <p>"Các dịch vụ và mức giá tối ưu nhất sẽ được đưa ra sau khi chúng tôi nghiên cứu sản phẩm của khách hàng"</p>
  <div class="header">
    <div class="content">
      <h3>CHƯƠNG TRÌNH ƯU ĐÃI ĐẶC BIỆT KHI ĐĂNG KÝ CÁC COMBO</h3>
      <div class="line"></div>
      <ul class="ul">
        <li>
          <p>Tặng vị trí tin VIP trên web: Philongdc.com</p>
        </li>
        <li>
          <p>Tặng Banner trên website: Philongdc.com</p>
        </li>
        <li>
          <p>Hỗ trợ chăm sóc nội dung, tin bài chỉnh sửa hình ảnh</p>
        </li>
        <li>
          <p>Chạy quảng cáo Facebook và google</p>
        </li>
        <li>
          <p>CUNG CẤP DỊCH VỤ LÀM WEB CHỈ TỪ 1.500.000 VNĐ</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="container">
    <div>
      <div class="hole"></div>
      <h1>250.000 vnđ</h1>
      <p>GÓI THƯỜNG</p>
      <ul>
        <li>- Đăng tin lên 20 website.</li>
        <li>- Loại tin là tin thường.</li>
      </ul>
    </div>
    <div>
      <div class="hole"></div>
      <h1>1.470.000 vnđ</h1>
      <p>GÓI CƠ BẢN</p>
      <ul>
        <li>- Đăng tin lên 20 website.</li>
        <li>- 6 website nhiều người xem nhất là tin vip cơ bản.</li>
        <li>- 14 website còn lại là tin thường</li>
      </ul>
    </div>
    <div>
      <div class="hole"></div>
      <h1>2.500.000 vnđ</h1>
      <p>VIP TRUNG CẤP</p>
      <ul>
        <li>- Đăng tin lên 20 website.</li>
        <li>- 4 website nhiều người xem nhất là tin Vip Trung cấp
          2 website vip cơ bản.</li>
        <li>- 14 website còn lại là tin thường</li>
      </ul>
    </div>
    <div>
      <div class="hole"></div>
      <h1>5.200.000 vnđ</h1>
      <p>VIP CAO CẤP</p>
      <ul>
        <li>- Đăng tin lên 20 website.</li>
        <li>- 2 website nhiều người xem nhất là tin Vip Đặc biệt.</li>
        <li>- Các website còn lại giống với gói Vip Trung cấp.</li>
      </ul>
    </div>
  </div>
  <div class="title">
    <h1>QUY TRÌNH TIẾN HÀNH CÔNG VIỆC</h1>
    <p>"Không ngừng sáng tạo, đem tới những giải pháp tối ưu cho khách hàng là niềm vui mỗi ngày của chúng tôi"</p>
  </div>
  <div class="register-steps">
    <div>
      <h1>Bước 1</h1>
      <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 1536 1896.0833"
        fill="rgba(244,67,54,1)">
        <path
          d="M1280 1193q0-11-2-16-3-8-38.5-29.5T1151 1098l-53-29q-5-3-19-13t-25-15-21-5q-18 0-47 32.5t-57 65.5-44 33q-7 0-16.5-3.5T853 1157t-17-9.5-14-8.5q-99-55-170.5-126.5T525 842q-2-3-8.5-14t-9.5-17-6.5-15.5T497 779q0-13 20.5-33.5t45-38.5 45-39.5T628 631q0-10-5-21t-15-25-13-19q-3-6-15-28.5T555 492t-26.5-47.5-25-40.5-16.5-18-16-2q-48 0-101 22-46 21-80 94.5T256 631q0 16 2.5 34t5 30.5 9 33 10 29.5 12.5 33 11 30q60 164 216.5 320.5T843 1358q6 2 30 11t33 12.5 29.5 10 33 9 30.5 5 34 2.5q57 0 130.5-34t94.5-80q22-53 22-101zm256-777v960q0 119-84.5 203.5T1248 1664H288q-119 0-203.5-84.5T0 1376V416q0-119 84.5-203.5T288 128h960q119 0 203.5 84.5T1536 416z">
        </path>
      </svg>
      <p>Khách hàng cung cấp thông tin cũng như những mong muốn, nhu cầu cho bộ phận tư vấn viên</p>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1896.0833" fill="rgba(45,179,50,1)">
      <path
        d="M595 960q0 13-10 23l-466 466q-10 10-23 10t-23-10l-50-50q-10-10-10-23t10-23l393-393L23 567q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l466 466q10 10 10 23zm384 0q0 13-10 23l-466 466q-10 10-23 10t-23-10l-50-50q-10-10-10-23t10-23l393-393-393-393q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l466 466q10 10 10 23z">
      </path>
    </svg>
    <div>
      <h1>Bước 2</h1>
      <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 1664 1896.0833"
        fill="rgba(244,67,54,1)">
        <path
          d="M1664 1098q0 81-44.5 135t-123.5 54q-41 0-77.5-17.5t-59-38-56.5-38-71-17.5q-110 0-110 124 0 39 16 115t15 115v5q-22 0-33 1-34 3-97.5 11.5T907 1561t-98 5q-61 0-103-26.5t-42-83.5q0-37 17.5-71t38-56.5 38-59T775 1192q0-79-54-123.5T586 1024q-84 0-143 45.5T384 1197q0 43 15 83t33.5 64.5 33.5 53 15 50.5q0 45-46 89-37 35-117 35-95 0-245-24-9-2-27.5-4t-27.5-4l-13-2q-1 0-3-1-2 0-2-1V512q2 1 17.5 3.5t34 5T73 524q150 24 245 24 80 0 117-35 46-44 46-89 0-22-15-50.5t-33.5-53T399 256t-15-83q0-82 59-127.5T587 0q80 0 134 44.5T775 168q0 41-17.5 77.5t-38 59-38 56.5-17.5 71q0 57 42 83.5T809 542q64 0 180-15t163-17v2q-1 2-3.5 17.5t-5 34-3.5 21.5q-24 150-24 245 0 80 35 117 44 46 89 46 22 0 50.5-15t53-33.5T1408 911t83-15q82 0 127.5 59t45.5 143z">
        </path>
      </svg>
      <p>Khách hàng cung cấp thông tin cũng như những mong muốn, nhu cầu cho bộ phận tư vấn viên</p>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1896.0833" fill="rgba(45,179,50,1)">
      <path
        d="M595 960q0 13-10 23l-466 466q-10 10-23 10t-23-10l-50-50q-10-10-10-23t10-23l393-393L23 567q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l466 466q10 10 10 23zm384 0q0 13-10 23l-466 466q-10 10-23 10t-23-10l-50-50q-10-10-10-23t10-23l393-393-393-393q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l466 466q10 10 10 23z">
      </path>
    </svg>
    <div>
      <h1>Bước 3</h1>
      <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 1536 1896.0833"
        fill="rgba(255,87,34,1)">
        <path
          d="M685 1299l614-614q19-19 19-45t-19-45l-102-102q-19-19-45-19t-45 19L640 960 429 749q-19-19-45-19t-45 19L237 851q-19 19-19 45t19 45l358 358q19 19 45 19t45-19zm851-883v960q0 119-84.5 203.5T1248 1664H288q-119 0-203.5-84.5T0 1376V416q0-119 84.5-203.5T288 128h960q119 0 203.5 84.5T1536 416z">
        </path>
      </svg>
      <p>Khách hàng cung cấp thông tin cũng như những mong muốn, nhu cầu cho bộ phận tư vấn viên</p>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1896.0833" fill="rgba(45,179,50,1)">
      <path
        d="M595 960q0 13-10 23l-466 466q-10 10-23 10t-23-10l-50-50q-10-10-10-23t10-23l393-393L23 567q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l466 466q10 10 10 23zm384 0q0 13-10 23l-466 466q-10 10-23 10t-23-10l-50-50q-10-10-10-23t10-23l393-393-393-393q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l466 466q10 10 10 23z">
      </path>
    </svg>
    <div>
      <h1>Bước 4</h1>
      <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 1664 1896.0833"
        fill="rgba(255,87,34,1)">
        <path
          d="M1664 576v256q0 26-19 45t-45 19h-64q-26 0-45-19t-19-45V576q0-106-75-181t-181-75-181 75-75 181v192h96q40 0 68 28t28 68v576q0 40-28 68t-68 28H96q-40 0-68-28t-28-68V864q0-40 28-68t68-28h672V576q0-185 131.5-316.5T1216 128t316.5 131.5T1664 576z">
        </path>
      </svg>
      <p>Khách hàng cung cấp thông tin cũng như những mong muốn, nhu cầu cho bộ phận tư vấn viên</p>
    </div>
  </div>
</div>

<div class="section-9">
  <div class="container">
    <div class="item-1">
      <img src="https://static.ladipage.net/5b90d016a21110493d6f2fa5/sda-1555473275.jpg" width="100%" height="100%">
    </div>
    <div class="item-2">
      <h1>LIÊN HỆ VỚI CHÚNG TÔI</h1>
      <h2>GIẢI QUYẾT VẤN ĐỀ CỦA BẠN</h2>
      <p>Có thể bạn sẽ bắt đầu từ vị trí thấp nhất. Tuy nhiên đừng nản lòng vì bạn đã bước chân được vào ngành nghề mình
        mong muốn và HÃY ĐỂ CHÚNG TÔI ĐƯỢC GIÚP ĐỠ BẠN TRÊN CON ĐƯỜNG THÀNH CÔNG.
      </p>
      <h2>CẦN SỰ TƯ VẤN CỦA CÁC CHUYÊN GIA</h2>
      <p>
        Triển khai các chiến lược và công nghệ marketing mới nhất.
      </p>
      <h3>
        Liên hệ để nắm rõ thông tin tốt nhất
      </h3>
      <input id="name" type="text" placeholder="Họ và tên">
      <input id="phoneNumber" type="text" placeholder="Nhập số điện thoại">
      <input id="email" type="text" placeholder="Email">
      <div style="width: 100%">
        <button id="send" type="submit">Gửi đi</button>
      </div>
    </div>
  </div>
  <div class="line"></div>
  <div class="container">
    <div class="item-3">
      <img width="100%"
        src="https://static.ladipage.net/s700x500/5b90d016a21110493d6f2fa5/charts-computer-data-669615-1555473577.jpg"
        alt="">
      <div class="item-line"></div>
    </div>
    <div class="item-4">
      <div class="item-line"></div>
      <div class="list-img">
        <img src="https://static.ladipage.net/s450x350/5b90d016a21110493d6f2fa5/pl-1555407454.jpg" alt="">
        <img src="https://static.ladipage.net/s450x350/5b90d016a21110493d6f2fa5/pl-1555407454.jpg" alt="">
        <img src="https://static.ladipage.net/s450x350/uploads/images/e25919f5-4290-4d5f-8a13-1b7d1e5123bc.jpg">
        <img
          src="https://static.ladipage.net/s450x350/5b90d016a21110493d6f2fa5/achievement-agreement-arms-1068523-1555407559.jpg"
          alt="">
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <div class="container">
    <div>
      <img src="https://static.ladipage.net/s300x300/5b90d016a21110493d6f2fa5/philong-ads-1555474695.png" alt="">
      <p>
        Nếu bạn đang gặp phải tình trạng “Data không chất lượng”; “Giá data quá mắc”, “không biết cách target sao cho
        chính xác”… khi chạy quảng cáo Bất Động Sản ... CHÚNG TÔI Ở ĐÂY ĐỂ HỖ TRỢ BẠN
      </p>
    </div>
    <div>
      <h1>LIÊN HỆ</h1>
      <div class="contact">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%"
          viewBox="0 0 24 24" fill="rgba(255,255,255,1)">
          <path d="M10,20V14H14V20H19V12H22L12,3L2,12H5V20H10Z"></path>
        </svg>
        <p>Địa chỉ: 4/34 Giang Văn Minh, Ba Đình, Hà Nội</p>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%"
          viewBox="0 0 24 24" fill="rgba(255,255,255,1)">
          <path
            d="M6.62,10.79C8.06,13.62 10.38,15.94 13.21,17.38L15.41,15.18C15.69,14.9 16.08,14.82 16.43,14.93C17.55,15.3 18.75,15.5 20,15.5A1,1 0 0,1 21,16.5V20A1,1 0 0,1 20,21A17,17 0 0,1 3,4A1,1 0 0,1 4,3H7.5A1,1 0 0,1 8.5,4C8.5,5.25 8.7,6.45 9.07,7.57C9.18,7.92 9.1,8.31 8.82,8.59L6.62,10.79Z">
          </path>
        </svg>
        <p>Hotline: 0981510880</p>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%"
          viewBox="0 0 24 24" fill="rgba(255,255,255,1)">
          <path
            d="M20,4H4A2,2 0 0,0 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V6A2,2 0 0,0 20,4M20,18H4V8L12,13L20,8V18M20,6L12,11L4,6V6H20V6Z">
          </path>
        </svg>
        <p>Email: Trang.tran@philongdc.com</p>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%"
          viewBox="0 0 24 24" fill="rgba(255,255,255,1)">
          <path
            d="M16.36,14C16.44,13.34 16.5,12.68 16.5,12C16.5,11.32 16.44,10.66 16.36,10H19.74C19.9,10.64 20,11.31 20,12C20,12.69 19.9,13.36 19.74,14M14.59,19.56C15.19,18.45 15.65,17.25 15.97,16H18.92C17.96,17.65 16.43,18.93 14.59,19.56M14.34,14H9.66C9.56,13.34 9.5,12.68 9.5,12C9.5,11.32 9.56,10.65 9.66,10H14.34C14.43,10.65 14.5,11.32 14.5,12C14.5,12.68 14.43,13.34 14.34,14M12,19.96C11.17,18.76 10.5,17.43 10.09,16H13.91C13.5,17.43 12.83,18.76 12,19.96M8,8H5.08C6.03,6.34 7.57,5.06 9.4,4.44C8.8,5.55 8.35,6.75 8,8M5.08,16H8C8.35,17.25 8.8,18.45 9.4,19.56C7.57,18.93 6.03,17.65 5.08,16M4.26,14C4.1,13.36 4,12.69 4,12C4,11.31 4.1,10.64 4.26,10H7.64C7.56,10.66 7.5,11.32 7.5,12C7.5,12.68 7.56,13.34 7.64,14M12,4.03C12.83,5.23 13.5,6.57 13.91,8H10.09C10.5,6.57 11.17,5.23 12,4.03M18.92,8H15.97C15.65,6.75 15.19,5.55 14.59,4.44C16.43,5.07 17.96,6.34 18.92,8M12,2C6.47,2 2,6.5 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z">
          </path>
        </svg>
        <p>Website: Philongdc.com</p>
      </div>
    </div>
    <div>
      <h1>KẾT NỐI VỚI CHÚNG TÔI</h1>
    </div>
  </div>
  <div class="line"></div>
  <div>
    <p>©2019 Allrights reserved PHILONGDC Vietnam</p>
  </div>
</div>
